<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheProvider" type="Localiza.SDK.Cache.Configuracao.CacheSection, Localiza.SDK.Cache" />
  <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,  Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" /><section name="GestaoParametros" type="Localiza.Corporativo.GestaoParametros.Configurador, Localiza.Corporativo.GestaoParametros" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AL.Atendimento.SobConsulta.Repositorios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <cacheProvider>
    <Cache Handler="Localiza.SDK.Cache.Memory.MemoryCacheHandler`1, Localiza.SDK.Cache.Memory" />
  </cacheProvider>
  
  <connectionStrings>
    <add name="Aguia" connectionString="dbf=..\\..\\aguia.udb" providerName="iAnywhere.Data.UltraLite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="iAnywhere.Data.UltraLite" />
      <add name="SQL Anywhere UltraLite.NET 10 Data Provider" invariant="iAnywhere.Data.UltraLite" description=".Net Framework Data Provider for SQL Anywhere UltraLite.NET 10" type="iAnywhere.Data.UltraLite.ULFactory, iAnywhere.Data.UltraLite, Version=12.0.1.4134, Culture=neutral, PublicKeyToken=ff11483eb5a8c1a5" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="Token_Validacao_NR" value="0cbb52d7-ca55-4960-8320-eb133c2cc0f6" />
    <add key="URLApiBI" value="http://localhost:59267/api/v1/disponibilidadeFrota" />
    <add key="URLApiClusterAgencia" value="http://localhost:59267/api/v1/clusterAgencia" />
    <add key="UsuarioReport" value="rpt-dmz-localiza" />
    <add key="SenhaReport" value="WE$%3tf3452" />
    <add key="DominioReport" value="localiza_corp" />
    <add key="URLRelatorio" value="http://reports.localiza.com/ReportServer/ReportService.asmx" />
    <add key="FormatoReport" value="PDF" />
    <add key="CaminhoRelatorioConfirmacao" value="/Localiza/Localiza.com/Homologacao/ConfirmacaoReserva" />
    <!--<add key="URLEmailPadrao" value="http://www.localiza.com/reservas/reserva/CorpoEmailPadrao.aspx?codigoReserva={0}&StrCultura={1}&StrAlteracao={2}"/>-->
    <add key="RemetenteEmail" value="naoresponder@localiza.com" />
    <add key="servidorEmail" value="bmail.localiza.com" />
    <add key="OrigemNucelo" value="NR_ORIG_VCH_NR" />
    <add key="NovoFormatoInternetMobile" value="CR_EMAILSEMOFERTA_NR" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<dataCacheClient>
    <hosts>
      <host name="srv-appfbcdev01" cachePort="22233" />
      <host name="srv-appfbcdev02" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_NucleoReserva">
          <!--HOM/PROD
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" realm="" />
          </security>-->
          <!--DEV-->
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" realm="" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IEmail" />
        <binding name="ReportingServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wapps-h.localiza.com/localiza/nucleoreserva/plataforma/Autorizacao.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NucleoReserva" contract="NRAutorizacao.IAutorizacao" name="BasicHttpBinding_IAutorizacao" />
      <endpoint address="https://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/centralreserva.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_NucleoReserva" contract="NRCentralDeReservas.ICentralReserva" name="BasicHttpBinding_ICentralReserva" />
      <endpoint address="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmail" contract="EmailBuildBlock.IEmail" name="BasicHttpBinding_IEmail" />
    </client>
  </system.serviceModel>
    <GestaoParametros>
    <Configuracao UrlServico="http://spoc-h.localiza.com/Servicos/" ChaveDeUtilizacao="05634ABE-A5E5-4A8D-A3AB-E5AA61C53D6A" />
    <Configuracoes>
      <add nome="SpocCRSobConsulta" identificador="CA3E5D54-E168-458F-BC69-3A9C5DE9B165" padrao="true" />
    </Configuracoes>
  </GestaoParametros>
  <applicationSettings>
    <AL.Atendimento.SobConsulta.Repositorios.Properties.Settings>
      <setting name="AL_Atendimento_SobConsulta_Repositorios_wsCanaisWeb_CanaisWeb" serializeAs="String">
        <value>http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc</value>
      </setting>
      <setting name="AL_Atendimento_SobConsulta_Repositorios_wsReserva_Reservas" serializeAs="String">
        <value>http://wshom.localiza.com/Localiza/Reserva/Reservas.asmx</value>
      </setting>
    </AL.Atendimento.SobConsulta.Repositorios.Properties.Settings>
  </applicationSettings>
</configuration>