<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="GestaoParametros" type="Localiza.Corporativo.GestaoParametros.Configurador, Localiza.Corporativo.GestaoParametros" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,  Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SC.ManutencaoCarro.Provisao.Repositorios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SybaseAguia" providerName="Sybase.Data.AseClient" connectionString="Driver={Adaptive Server Enterprise};Server=syb-lab2.localiza.corp;Port=4100;Database=aguia;UID=dtiamayer;PWD=190400;ApplicationName=ManutencaoProvisao;ClientHostName=estacao;language=us_english;CommandTimeOut=12000;PacketSize=1024" />
    <add name="SybaseFrota" providerName="Sybase.Data.AseClient" connectionString="Driver={Adaptive Server Enterprise};Server=syb-lab2.localiza.corp;Port=4100;Database=frota;UID=dtiamayer;PWD=190400;ApplicationName=ManutencaoProvisao;ClientHostName=estacao;language=us_english;CommandTimeOut=12000;PacketSize=1024" />
    <add name="SqlDbGreen" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dbhom01\oltp,1633;Initial Catalog=db_green;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True" />
    <add name="SqlCorpDb" providerName="System.Data.SqlClient" connectionString="Data Source=srv-dbhom01\oltp,1633;Initial Catalog=Corpdb;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="serilog:using:Logentries" value="Serilog.Sinks.Logentries" />
    <add key="serilog:write-to:Logentries" />
    <add key="serilog:write-to:Logentries.token" value="3e94c7c0-91f9-4d9e-acf2-17098cc773a4" />
    <add key="serilog:write-to:Logentries.restrictedToMinimumLevel" value="Information" />
    <add key="serilog:write-to:Logentries.outputTemplate" value="{Timestamp:G} [SobConsulta-{Level}] {Message}{NewLine}{Exception}" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="Sybase Adaptive Server Enterprise Data Provider" invariant="Sybase.Data.AseClient" description=".NET Framework Data Provider for Sybase Adaptive Server Enterprise" type="Sybase.Data.AseClient.AseClientFactory, Sybase.AdoNet45.AseClient" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <GestaoParametros>
    <Configuracao UrlServico="https://spoc-h.localiza.com/Servicos/" ChaveDeUtilizacao="ec226120-77c3-473f-be54-aefa3a30a802" />
    <Configuracoes>
      <add nome="Manutenção Provisão" identificador="a2336654-c7e3-484c-b08a-01f799e51cf6" padrao="true" />
      <add nome="TransactionMonitorEms" identificador="4D6F36EC-ECAC-43AD-8D46-C98CB8E8B49E" padrao="false" />
    </Configuracoes>
  </GestaoParametros>
  <dataCacheClient>
    <hosts>
      <host name="srv-appfbcdev01" cachePort="22233" />
      <host name="srv-appfbcdev02" cachePort="22233" />
    </hosts>
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="83886080" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
  </dataCacheClient>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmail" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/servicos/Email.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmail" contract="wsEmail.IEmail" name="BasicHttpBinding_IEmail" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SC.ManutencaoCarro.Provisao.Repositorios.Properties.Settings>
      <setting name="SC_ManutencaoCarro_Provisao_Repositorios_wsModuloCO_wsModuloCO" serializeAs="String">
        <value>http://wshom.localiza.com/Financeiro/SAP/ModuloCO/wsModuloCO.asmx</value>
      </setting>
      <setting name="SC_ManutencaoCarro_Provisao_Repositorios_wsModuloFIGL_wsModuloFIGL" serializeAs="String">
        <value>http://wshom.localiza.com/Financeiro/SAP/ModuloFIGL/wsModuloFIGL.asmx</value>
      </setting>
    </SC.ManutencaoCarro.Provisao.Repositorios.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>