<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SybaseAguia" providerName="Sybase.Data.AseClient" connectionString="Driver={Adaptive Server Enterprise};Server=syb-prod.localiza.corp;Port=4100;Database=aguia;UID=iOPERACAOPROVISAOSS;PWD=kEcuCr4zaSuThuj;ApplicationName=ManutencaoProvisao;ClientHostName=estacao;language=us_english;CommandTimeOut=12000;PacketSize=1024" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SybaseFrota" providerName="Sybase.Data.AseClient" connectionString="Driver={Adaptive Server Enterprise};Server=syb-prod.localiza.corp;Port=4100;Database=frota;UID=iOPERACAOPROVISAOSS;PWD=kEcuCr4zaSuThuj;ApplicationName=ManutencaoProvisao;ClientHostName=estacao;language=us_english;CommandTimeOut=12000;PacketSize=1024" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SqlDbGreen" providerName="System.Data.SqlClient" connectionString="Data Source=sql-prod1\oltp,1633;Initial Catalog=db_green;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SqlCorpDb" providerName="System.Data.SqlClient" connectionString="Data Source=sql-prod1\oltp,1633;Initial Catalog=Corpdb;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <!-- CONFIGURAÇÕES -->
    <add key="USUARIO_PADRAO" value="999999" />
    <add key="AMBIENTE_TESTE" value="false" />
    <add key="EMAIL_TESTE" value="dti186@localiza.com,base257@localiza.com,wellington.almeida@localiza.com" />
    <add key="EMAIL_REMETENTE" value="naoresponderHOM@localiza.com" />
    <add key="USUARIO_TESTE" value="" />

    <!-- Cache -->
    <add key="SC_CACHE_DESABILITAR" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Email Log -->
    <add key="SC_EMAIL_LOG_REMETENTE" value="sc.manutencao@localiza.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SC_EMAIL_LOG_SERVIDOR" value="bmail.localiza.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SC_EMAIL_LOG_DESTINATARIO" value="alertassistemaoperacoes@localiza.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SC_EMAIL_LOG_DESABILITAR" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SC_EMAIL_LOG_DESABILITAR_INFO" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SC_EMAIL_LOG_AMBIENTE" value="PRODUCAO" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Bulk Insert -->
    <add key="BULK_INSERT_PASTA_ARQUIVO" value=".\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BULK_INSERT_PASTA_ARQUIVO_SERVIDOR" value="\\vsql-prod1\BulkInsert\ProvisaoSS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BULK_INSERT_CAMINHO_COMANDO" value="\\vsql-prod1\BulkInsert\ProvisaoSS\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BULK_INSERT_DESABILITAR" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <dataCacheClient xdt:Transform="Replace">
    <hosts>
      <host name="srv-appfbcprd01" cachePort="22233" />
      <host name="srv-appfbcprd02" cachePort="22233" />
    </hosts>
    <transportProperties connectionBufferSize="131072" maxBufferPoolSize="268435456" maxBufferSize="83886080" maxOutputDelay="2" channelInitializationTimeout="60000" receiveTimeout="600000" />
  </dataCacheClient>
  <system.serviceModel>
    <client>
      <endpoint address="http://wapps.localiza.com/Corporativo/BuildingBlocks/Email/servicos/Email.svc" name="BasicHttpBinding_IEmail" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <GestaoParametros>
    <Configuracao UrlServico="https://spoc.localiza.com/Servicos/" ChaveDeUtilizacao="" xdt:Transform="Replace" />
    <Configuracoes>
      <add nome="TransactionMonitorEms" identificador="5323655f-ee44-4e51-ad57-a8ea64741f75" padrao="false" xdt:Transform="SetAttributes" xdt:Locator="Match(nome)" />
    </Configuracoes>
  </GestaoParametros>
  <applicationSettings>
    <SC.ManutencaoCarro.Provisao.Repositorios.Properties.Settings>
      <setting name="SC_ManutencaoCarro_Provisao_Repositorios_wsModuloCO_wsModuloCO" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://ws.localiza.com/Financeiro/SAP/ModuloCO/wsModuloCO.asmx</value>
      </setting>
      <setting name="SC_ManutencaoCarro_Provisao_Repositorios_wsModuloFIGL_wsModuloFIGL" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://ws.localiza.com/Financeiro/SAP/ModuloFIGL/wsModuloFIGL.asmx</value>
      </setting>
    </SC.ManutencaoCarro.Provisao.Repositorios.Properties.Settings>
  </applicationSettings>
</configuration>