<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,  Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AL.Atendimento.SobConsulta.Repositorios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="GestaoParametros" type="Localiza.Corporativo.GestaoParametros.Configurador, Localiza.Corporativo.GestaoParametros" />
  </configSections>
  <dataCacheClient>
    <hosts>
      <host name="srv-appfbcdev01" cachePort="22233" />
      <host name="srv-appfbcdev02" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICentralReserva">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="Default" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc" binding="basicHttpBinding" bindingConfiguration="Default" contract="EmailBuildBlock.IEmail" name="Default" />
      <endpoint address="https://srv-webhom01.localiza.corp/localiza/nucleoreserva3/reserva/CentralReserva.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICentralReserva" contract="NRCentralDeReservas.ICentralReserva" name="BasicHttpBinding_ICentralReserva" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <AL.Atendimento.SobConsulta.Repositorios.Properties.Settings>
      <setting name="AL_Atendimento_SobConsulta_Repositorios_wsCanaisWeb_CanaisWeb" serializeAs="String">
        <value>http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc</value>
      </setting>
      <setting name="AL_Atendimento_SobConsulta_Repositorios_wsReserva_Reservas" serializeAs="String">
        <value>http://wshom.localiza.com/Localiza/Reserva/Reservas.asmx</value>
      </setting>
    </AL.Atendimento.SobConsulta.Repositorios.Properties.Settings>
  </applicationSettings>
  <GestaoParametros>
    <Configuracao UrlServico="https://spoc[-d|-h].localiza.com/Servicos/" ChaveDeUtilizacao="[Chave de utilização]" />
    <Configuracoes>
      <add nome="[Nome da Configuração]" identificador="[Guid de identificação da Configuração]" padrao="[true - Deve ser definido apenas uma vez]" />
    </Configuracoes>
  </GestaoParametros>
</configuration>