<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Localiza.SDK" version="2.0.0.29883" targetFramework="net452" />
  <package id="Localiza.SDK.Cache" version="2.4.3.26121" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Serilog.Sinks.Logentries" version="2.0.15" targetFramework="net452" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.0.0" targetFramework="net452" />
  <package id="Unity" version="4.0.1" targetFramework="net452" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net452" />
</packages>